body {
  background: black;
  color: black;
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  text-align: center;
  margin-top: 20px;
  background: black;
  color: white;
  border-top: 2px solid rgb(82, 214, 214);
  padding: 60px;
}

.inline-img {
  /* float:left;
  margin: 0 15px 15px 0; */
  display: inline-block;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}
#myBtn:hover {
  background: #ddd;
  color: black;
}

iframe {
float: right;
}

/* for NEOTable */
#neoTitle{
  text-align: center;
  border: 3px;
}

#neoTable{
  align-content: center;
  background: black;
  margin:1px;
  color:white;

}
#neoTitle{
  color:white;
  
}

.nightsky
{
  position: relative;
  top: 0;
  left: 0;
}
.banner
{
  position: absolute;
  top: 60px;
  right: 20%;
  max-height: auto;
  max-width: 800px;
}

.rovers img{ 
  max-width: 100%;
  height: 200px;
  border-radius: 2px;
}