body {
  background: black;
  color: black;
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  text-align: center;
  margin-top: 20px;
  background: black;
  color: white;
  border-top: 2px solid rgb(82, 214, 214);
  padding: 40px;
}